<div class="panel panel-info">
	<div class="panel-body">
		<form method="post" class="status-update form-inline" action="{{ urlFor('statusUpdate') }}">
			<div class="form-group">
				<label for="status">Update Status</label>
				<input type="text" class="form-control" id="status" placeholder="What's on your mind?">
			</div>
			<button type="button" class="btn btn-primary btn-status-update">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Post
			</button>
		</form>
	</div>
</div>
