{% extends "layout.html.twig" %}

{% block content %}
	<div class="panel panel-info">
		<div class="panel-heading">Facebook status</div>
		<div id="status" class="panel-body"></div>
	</div>
{% endblock %}
